APP_PORT=3001
CLIENT_ORIGIN='http://localhost:3000'
DATABASE_HOST='localhost'
DATABASE_PORT='5432'
DATABASE_USERNAME='<USERNAME>'
DATABASE_PASSWORD='<PASSWORD>'
DATABASE_NAME='<NAME>'
ENCRYPTION_KEY='<ENCRYPTION_KEY>'
ENCRYPTION_IV='<ENCRYPTION_IV>'